<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    
    <form method="post" action="" class="logindiv">
        <h2>SIGN UP</h2>
        <input name="username" type="text" placeholder="username">
        <input name="password" type="password" placeholder="password">
        <input name="confpassword" type="password" placeholder="confirm password">
        <button type="submit" class="loginbtn">Submit</button>
    </form>
</body>
</html>